
 .Btngrtop{
 	padding-top: 15px;
 	padding-bottom: 0px;
 }

 .paris {
	width:50px;
}

.navbar {
padding: 5px 5px 5px 5px;
}

.fa-search{

	padding:12px 5px 12px 0px;
}
input[type=text] {
width: 130px;
padding:12px 20px 12px 0px;
    
}
input[type=text]:focus {
    width: 100%;
}

.newbay {
	background-color: #2ab7aa;
    color: #fff;

 }

.carousel-inner{
	outline: none;
	display: block;
    width:1250px;
    height:350px;

 
}
.carousel-inner img { 
display: inline-block;
float:right;
width: 55%;
height: 100%;
margin: 0.5em;
}

.carousel-item div{
display: inline-block;
float: left;
width: 40%;
height: 80%;
}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.grid-container {
     
        display: grid;
        grid-row-gap: 10px;
      }
      .col img{
      	 
        height: 330px;
        width: 230px;
  
        
      }